body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    color:goldenrod;
    border-color: goldenrod;
    background-color: transparent;
}